* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*This is the Navigation at the top of the page*/
.top-bar {
    position: relative;
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
    border-bottom: darkslategrey solid 1px;
    width: 100%;
    Height: 100px;
}

.name {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    background: gray;
    margin-left: 50px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 90px;
    border-radius: 15px;
}

.navigation {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
    display: flex;
    align-content: space-between;
}

.nav-item {
    padding: 20px;
}

/*This is the About Me section*/

.main-content {
    box-sizing: border-box;
    display: flex;
    margin: 50px;
    padding: 10px;
    justify-content: space-between;
    width: 90%;
}
.large-heading {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
.paragraph {
    font-family: 'Economica', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.madeline-pic {
    margin-right: 15px;
    margin-bottom: 5px;
}
.about-me {
    width: 70%;
    border: 1px black solid;
    padding: 10px;
}

.connect-with-me {
    padding: 10px;
    width: 25%;
    border: 1px black solid;
    height: 60%;
}