* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.entire {
    background-image: url("./../GypsyGardenbyPixels&IceCream.png");
    margin-top: 100px;
}
  /*This is the Navigation at the top of the page*/
.top-bar {
    position: fixed;
    top: 0;
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid turquoise;
    width: 100%;
    Height: 100px;
}

.name {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    background: #00b386;
    margin-left: 50px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 90px;
    border-radius: 15px;
}

.navigation {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
    display: flex;
    align-content: space-between;
}

.nav-item {
    padding: 20px;
}

/*This is the About Me section*/

.main-content {
    display: flex;
    margin: 50px;
    padding: 10px;
    justify-content: space-between;
    width: 90%;
}
.large-heading {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    justify-content: flex-start;
}
.paragraph {
    font-family: 'Economica', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.madeline-pic {
    margin-right: 15px;
    margin-bottom: 5px;
}
.about-me {
    background: white;
    width: 70%;
    border: 1px black solid;
    padding: 10px;
}

.connect-with-me {
    background: white;
    text-align: center;
    padding: 10px;
    width: 20%;
    border: 1px black solid;
    height: 60%;
}

.icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    padding-top: 10px;
}

/* This is the Footer */

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    background: lightblue;
    border-top: 3px solid turquoise;
    font-family: 'Amatic SC', cursive;
    font-size: 15px;
}