.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.d-f {
    display: flex;
}

.section {
    flex-direction: column;
}

.connect {
    flex-direction: column;
}